@model IEnumerable<ExpTrack.Models.ExpenseType>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">List of My Expense Types</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="ExpenseType" asp-action="Create" class="btn btn-success">Create new expense type</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">
                        Expense Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expenseType in Model)
                {
                <tr>
                    <td width="35%" class="text-center">@expenseType.Name</td>
                    <td width="30%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="ExpenseType" asp-action="Update" asp-route-Id="@expenseType.Id" class="btn btn-dark mx-1">Update</a>
                            <a asp-controller="ExpenseType" asp-action="Delete" asp-route-Id="@expenseType.Id" class="btn btn-danger mx-1">Delete</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No expense types to display. Please add new expense type!</p>
    }
</div>

